<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-01</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app"> 
      
      <span><input type="checkbox" value="HTML" v-model="languages" > <label>HTML</label></span> &nbsp;
      <span><input type="checkbox" value="CSS" v-model="languages" > <label>CSS</label></span> &nbsp;
      <span><input type="checkbox" value="JS" v-model="languages" > <label>JS</label></span> &nbsp;
      <br><br>
      {{languages}}

      <br><br> <br><br>

      <span><input type="radio" value="HTML" v-model="choix" > <label>HTML</label></span> &nbsp;
      <span><input type="radio" value="CSS" v-model="choix" > <label>CSS</label></span> &nbsp;
      <br>
      le langage est : {{choix}}
    </div>
    <script>
        app = Vue.createApp({
         data() {
            return{
               languages : [],
               choix :""
            }
         },

         methods : {
         }

       });
       app.mount('#app');
       
    </script>
</body>
</html>